@font-face {
  font-family: "Noto Sans Mono";
  src: url(fonts/NotoSansMono-VariableFont_wdth\wght.ttf);
}


:root {
  --green-color: #2ae2a0;
  --dark-grey-color: #363738;
  --white-color: #fcfcfd;
  --light-grey-color: #f1f2f3;
  --blue-color: #31b7f0;
  --grey-color: #a5a5a6;
  --black-color: #232323;
}

#logo {
  position: absolute;
  margin-left: 390px;
  margin-top: 500x;
  width: 187px;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0 0 0;
  font-family: monospace;
  min-width: 450px;
  font-family: "Noto Sans Mono";
}

.inbox-info {
  display: flex;
  gap: 20px;
  /**/
}

.text-green-color {
  color: #2ae2a0;
}

.container1 {
  display: flex;
  font-family: "Noto Sans Mono";
  height: 100vh;
  min-height: 100%;
  position: relative;
}

.hero-left {
  width: 100%;
  height: 100%;
  -webkit-text-fill-color: inherit;
  background-color: #28eea7;
  background-image: linear-gradient(rgba(96, 187, 164, 0.868),
      rgba(15, 242, 166, 0.491)),
    url(images/se2.jpeg);
  background-position: 50%;
  background-size: cover;
  background-clip: border-box;
  justify-content: flex-end;
  align-self: auto;
  align-items: center;
  display: flex;
  position: relative;

}

.hero-right {
  width: 100%;
  height: 100%;
  background-color: #363738;
  background-image: linear-gradient(rgba(35, 35, 35, 0.85),
      rgba(35, 35, 35, 0.85)),
    url(images/se1.jpeg);
  background-position: 0 0, 50%;
  background-size: auto, cover;
  align-items: center;
  display: flex;
}

.hero-section-child {
  width: 100%;
  height: 40vh;
  max-height: 100vh;
  max-width: 670px;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 3rem;
  display: flex;
}

.hero-section-child .right {
  color: #fcfcfd;
  align-items: flex-start;
  flex-direction: column;
}

.hero-section-child .left {
  margin-left: 20px;
  flex-direction: column;
  align-items: flex-start;
}

.hero-section-child .right span {
  text-align: left;
}


.hero-title-1 {
  text-transform: uppercase;
  flex: 0 auto;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Noto Sans Mono, sans-serif;
  font-weight: 900;
  line-height: 1;
}


.hero-title-1 span {
  color: #363738;
  background-color: #f1f2f3;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1.3rem;
}


.p2 {
  margin-top: 1rem;
  font-size: 2rem;
}

.p3 {
  margin-top: 3rem;
  line-height: 1.5;
  color: white;
  width: 34rem;
}

.btn1 {
  margin-top: 1rem;
  padding: 0.8rem;
  width: 10rem;
  color: #363738;
  background-color: #f1f2f3;
  border: none;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 1.1rem;
  font-family: Noto Sans Mono, sans-serif;
}

.container1 img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 768px) {

  .hero-left,
  .hero-right {
    width: 100%;
  }
}




.newsletter {
  background-color: #363738;
  flex-flow: row wrap;
}

.newsletter-left {
  flex: 1;
  display: flex;
  flex-flow: column wrap;
  min-width: 425px;
}

.newsletter-right {
  flex: 1;
  display: flex;
  justify-content: end;
  height: 60px;
}

.newsletter>.newsletter-left>.section-header>.section-title {
  color: #f1f2f3;
}

.sub-text {
  font-size: 15px;
  font-weight: 200;
  color: #a5a5a6;
}






.section-container {
  display: flex;
  min-width: 365px;
  flex: 1;
  padding: 2.8125rem 5rem;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  background: #F1F2F3;
  font-size: 2em;
  font-weight: bolder;
}

.section-header {
  display: flex;
  width: 100%;
  line-height: 50px;
  flex-flow: row wrap;
  justify-content: space-between;
  max-width: 1000px;
}

.section-title {
  display: flex;
  gap: 18px;
  color: #363739;
  font-size: 30px;
  font-weight: bolder;
}

.section-arrow {
  color: rgba(46, 228, 163);
}

.three-dots {
  display: flex;
  padding: 10px;
  gap: 5px;
  /*gap between each dot*/
}

.dot {
  background-color: #a0a9aa;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin: 5px;
  /**/
}

.black {
  background-color: #363739;
}

.green {
  background-color: #2aeda8;
}

.white {
  background-color: #fcfaff;
}

.gray {
  background-color: #a0a9aa;
}


.video-frame {
  display: flex;
  width: 100%;
  max-width: 1000px;
  max-height: 500px;
  background-color: #2ae2a0;
  padding: 15px;
  height: 40vw;
  border: 0;
  border-radius: 25px;
}

iframe {
  flex: 1;
  border: 0;
}



.milestones {
  background-color: #ffffff;
  color: #363738;
  flex-wrap: wrap;
}

.milestones-cards-holder {
  display: flex;
  flex-flow: row wrap;
  flex: 1;
  font-size: 10px;
  width: 100%;
  max-width: 1000px;
}

.milestones-big {
  flex: 1;
}

.milestone-card {
  display: flex;
  flex-direction: column;
  background-color: #f1f2f3;
  border: 0;
  border-radius: 25px;
  margin: 5px;
  padding: 25px;
  flex: 1;
  width: fit-content;
  justify-items: center;
  justify-content: center;
  align-content: center;
}

.milestones-four-cards {
  flex: 1;
  display: flex;
  flex-flow: column;
}

.milestone-hor {
  flex: 1;
  display: flex;
}

.card-1 {
  flex-grow: 2;
}

.card-4 {
  flex-grow: 2;
}

.milestone-card>h1 {
  font-size: 60px;
  font-weight: 900;
  line-height: 0;
}

.milestone-card>p {
  font-size: 20px;
  line-height: 1;
  font-weight: normal;
}

.programs {
  background-color: #2ae2a0;
}

.programs>.section-header>.section-title {
  background-color: #363738;
  color: #fcfcfd;
  padding: 0 25px;
  margin-bottom: 0 0 30px 0;
}

.programs-details {
  flex: 1;
}

.programs-header {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  column-gap: 13px;
}

.prog {
  text-decoration: none;
  padding: 10px 24px;
  border: 0;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  color: #363738;
  font-size: 15px;
}

.visible-prog {
  background-color: #363738;
  color: #2ae2a0;
  padding: 10px 25px;
  font-size: 19px;
}

.program-description-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #363738;
  max-width: 1000px;
  flex: 1;
  padding: 20px;
  font-size: 15px;
  color: #f2feff;
  font-weight: 100;
  border: 0;
  border-radius: 15px;
  border-top-left-radius: 0px;
  gap: 20px;
}

.description {
  display: flex;
  flex: 1;
  flex-flow: column wrap;
}

.description-title {
  display: flex;
  flex: 1;
  gap: 15px;
  font-weight: 900;
  font-size: 20px;
  max-height: 50px;
}

.txt-color {
  color: #2ae2a0;
  font-weight: 900;
  flex-wrap: nowrap;
}

.description-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.program-button-1 {
  flex: 1;
  font-size: 1em;
  font-weight: 100;
  flex-grow: 1.2;
  background-color: #232323;
  color: #f1f2f3;
}

.program-button-2 {
  flex: 1;
  width: 50%;
  text-align: end;
  font-size: 1em;
  font-weight: 900;
  cursor: pointer;
  background-color: #232323;
  color: #f1f2f3;
}

.program-image {
  max-width: 400px;
  max-height: 400px;
  min-height: 100px;
  border-radius: 10px;
}

.text-button {
  display: flex;
  flex: 1;
  flex-flow: column wrap;
  justify-content: space-between;
}


.hire-talent {
  background-color: #343333;
}

.hire-talent .section-text {
  color: #f1f2f3;
}


.hire-talent-container {
  flex: 1;
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  gap: 1em;
}

.hire-talent-body {
  padding: 30px;
  border-radius: 25px;
}

.hire-talent-body,
.HT-learn-more-box {
  flex: 1;
  background-color: #232323;
  color: #f1f2f3;
}


.hire-talent-body>h6 {
  font-size: 20px;
  margin: 0 0 20px 0;
}

.inbox-info-HT {
  background-color: #363738;
  font-size: 15px;
  font-weight: 400;
  padding: 20px;
  width: fit-content;
}

.HT-list {
  font-size: 13px;
  font-weight: 100;
}

.HT-checkout-box {
  background-color: #232323;
  display: flex;
  padding: 20px;
  border-radius: 25px;
  font-size: 20px;
  gap: 20px;
  justify-content: end;
}

.HT-checkout-text {
  padding-top: 10px;
  color: #f1f2f3;
  font-weight: 500;
}



.testimonials-container {
  display: flex;
  align-items: center;
  padding: 15px;
  border-radius: 15px;
  background-color: #363738;
  flex: 1;
}

.testimonials {
  display: flex;
  padding-top: 50px;
}

.text-button {
  padding-left: 50px;
  padding-bottom: 45px;
}

.q-mark {
  padding-left: 30px;
}

.testimonial-text {
  font-size: 16px;
  width: 80%;
  font-weight: 200;
  color: #f1f2f3;
  padding-left: 30px;
}

.mini-image {
  width: 50px;
  height: 50px;
  border-radius: 60px;
  margin-left: 30px;
}

.testimonial-name-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.testimonial-name-container>.inbox-info {
  flex-direction: column;
  gap: 0;
  color: #f1f2f3;
  font-size: 15px;
}

.testimonial-name-container>.inbox-info>h2 {
  line-height: 0;
}

.testimonial-name-container>.inbox-info>p>b {
  color: #2ae2a0;
}

.testimonial-name-container>.inbox-info>p {
  padding: 0;
  margin: 0;
  color: #f1f2f3;
}

.testimonials-scroll-circles {
  display: flex;
  justify-content: center;
}

.testimonials-scroll-circle {
  background-color: #a5a5a6;
  width: 15px;
  height: 15px;
  border-radius: 10px;
  margin: 0 10px;
}

.FAQs {
  background-color: #363738;
  color: #f1f2f3;
}

.FAQs>.section-header>.section-title {
  color: #f1f2f3;
}

.faqs-collection {
  width: 100%;
}

details {
  margin-bottom: 20px;
}

summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #232323;
  font-size: 15px;
  font-weight: 800;
  padding: 20px;
  border-radius: 15px;
}

.view-all-button {
  flex: 1;
  width: 100%;
  text-align: end;
  font-size: 15px;
  background-color: #232323;
  color: #f1f2f3;
}